@charset 'utf-8';

/* Define color variables */
:root {
  --zinc-50: #fafafa;
  --zinc-100: #f4f4f5;
  --zinc-200: #e4e4e7;
  --zinc-300: #d4d4d8;
  --zinc-400: #a1a1aa;
  --zinc-500: #71717a;
  --zinc-600: #52525b;
  --zinc-700: #3f3f46;
  --zinc-800: #27272a;
  --zinc-900: #18181b;
  /* --purple-500: #a855f7; */
  /* --purple-600: #9333ea; */
  --purple-700: #7e22ce;
  --sky-500: #0ea5e9;
  /* --sky-600: #0284c7; */
  --sky-800: #075985;
  
}

.hyperlink {
  font-weight: 500;
  color: var(--sky-500);
}

.hyperlink:hover {
  color: var(--sky-800);
}

.hyperlink:visited {
  color: var(--purple-700);
}

.nav-bg {
  background-color: var(--zinc-300);
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 40;
  position: fixed;
  top: 0;
}

.mobile-nav {
  position: absolute;
  right: -0.75rem;
  top: 2rem;
  z-index: 50;
  width: 12rem;
  display: flex;
  flex-direction: column;
  border-width: 1px;
  border-style: solid;
  border-radius: 0.25rem;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 500;
}

.desktop-nav {
  justify-content: space-between;
  text-align: center;
}

.menu-item:after {
  display: block;
  content: attr(title);
  font-weight: 700;
  height: 1px;
  margin-top: -1px;
  color: transparent;
  overflow: hidden;
  visibility: hidden;
}

.notification {
  background-color: var(--sky-800);
  color: var(--zinc-50);
  position: fixed;
  top: 4rem;
  left: 0;
  padding: 10px;
  margin: 0 auto;
  text-align: center;
  width: 100%;
  border-bottom-left-radius: 0.375rem;
  border-bottom-right-radius: 0.375rem;
  z-index: 50;
}

.text-shadow:hover {
  text-shadow: 1px 1px var(--zinc-50);
  font-weight: 700;
  color: var(--zinc-900);
  /* padding: 0; */
}
.font-semibold.text-shadow:hover {
  font-weight: 800;
}

.disabled,
.disabled .icon-home:before {
  pointer-events: none;
  color: var(--zinc-400);
  text-shadow: 1px 1px var(--zinc-50);
}

.list-item-bubble {
  border-radius: 0.375rem;
  background-color: var(--zinc-200);
}
/* Modal styles */

.overlay {
  background-color: rgb(0, 0, 0, 0.5);
}

/* IcoMoon color overrides */
.icon-mail4:before {
  color: #dd4d40;
}

.icon-linkedin:before {
  color: #0a66c2;
}

.icon-home:before {
  color: var(--sky-500);
}


/* Set default colors for dark theme */
@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--zinc-500);
    color: var(--zinc-50);
  }
  .nav-bg {
    background-color: var(--zinc-700);
  }
  .list-item-bubble {
    background-color: var(--zinc-600);
  }
  .text-shadow:hover {
    text-shadow: 1px 1px var(--zinc-900);
    color: var(--zinc-100);
  }
  .disabled,
  .disabled .icon-home:before {
    color: var(--zinc-500);
    text-shadow: 1px 1px var(--zinc-800);
  }
  .form {
    color: var(--zinc-900);
  }
  .form label {
    color: var(--zinc-50);
  }
}


/** IcoMoon generated font styles **/
@font-face {
  font-family: 'icomoon';
  /** Update hashes when new fonts are generated **/
  src:  url('fonts/icomoon.eot?mkfxw5');
  src:  url('/_static/fonts/icomoon.eot?mkfxw5#iefix') format('embedded-opentype'),
    url('/_static/fonts/icomoon.ttf?mkfxw5') format('truetype'),
    url('/_static/fonts/icomoon.woff?mkfxw5') format('woff'),
    url('/_static/fonts/icomoon.svg?mkfxw5#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  /* speak: never; */
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/** Replace below this line **/

.icon-home:before {
  content: "\e900";
}
.icon-pencil:before {
  content: "\e901";
}
.icon-image:before {
  content: "\e902";
}
.icon-images:before {
  content: "\e903";
}
.icon-play:before {
  content: "\e904";
}
.icon-alarm:before {
  content: "\e905";
}
.icon-calendar:before {
  content: "\e906";
}
.icon-bin2:before {
  content: "\e907";
}
.icon-menu:before {
  content: "\e908";
}
.icon-cloud:before {
  content: "\e909";
}
.icon-cloud-download:before {
  content: "\e90a";
}
.icon-cloud-upload:before {
  content: "\e90b";
}
.icon-cloud-check:before {
  content: "\e90c";
}
.icon-download2:before {
  content: "\e90d";
}
.icon-upload2:before {
  content: "\e90e";
}
.icon-link:before {
  content: "\e90f";
}
.icon-attachment:before {
  content: "\e910";
}
.icon-star-empty:before {
  content: "\e911";
}
.icon-star-half:before {
  content: "\e912";
}
.icon-star-full:before {
  content: "\e913";
}
.icon-warning:before {
  content: "\e914";
}
.icon-notification:before {
  content: "\e915";
}
.icon-question:before {
  content: "\e916";
}
.icon-plus:before {
  content: "\e917";
}
.icon-minus:before {
  content: "\e918";
}
.icon-info:before {
  content: "\e919";
}
.icon-cancel-circle:before {
  content: "\e91a";
}
.icon-cross:before {
  content: "\e91b";
}
.icon-checkmark:before {
  content: "\e91c";
}
.icon-checkmark2:before {
  content: "\e91d";
}
.icon-mail4:before {
  content: "\e91e";
}
.icon-github:before {
  content: "\e91f";
}
.icon-linkedin:before {
  content: "\e920";
}
.icon-video-camera:before {
  content: "\e921";
}
.icon-phone:before {
  content: "\e942";
}
.icon-briefcase:before {
  content: "\e9ae";
}
.icon-enter:before {
  content: "\ea13";
}
.icon-exit:before {
  content: "\ea14";
}
