@charset 'utf-8';

:root {
  --text-zinc-600: #52525b;
  --text-sky-800: #075985;
  --text-sky-600: #0284c7;
}

.hyperlink {
  font-weight: 500;
  color: var(--text-sky-600);
}

.hyperlink:hover {
  color: var(--text-sky-800);
}

.hyperlink:visited {
  color: var(--text-purple-600);
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 40;
  position: fixed;
  top: 0;
}

.mobile-nav {
  position: absolute;
  right: -0.75rem;
  top: 2rem;
  z-index: 50;
  width: 12rem;
  display: flex;
  flex-direction: column;
  border-width: 1px;
  border-style: solid;
  border-radius: 0.25rem;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 500;
}

.desktop-nav {
  justify-content: space-between;
}

.menu-item:after {
  display: block;
  content: attr(title);
  font-weight: 700;
  height: 1px;
  margin-top: -1px;
  color: transparent;
  overflow: hidden;
  visibility: hidden;
}

.text-shadow:hover {
  text-shadow: 1px 1px white;
  font-weight: 700;
  color: black;
  /* padding: 0; */
}

.home-icon-highlight {
  padding: 0 0.075rem;
}
.home-icon-highlight:hover {
  text-shadow: 1px 1px white;
  font-weight: 900;
  padding: 0;
}

/* IcoMoon color overrides */
.icon-mail4:before {
  color: #dd4d40;
}

.icon-linkedin:before {
  color: #0a66c2;
}

.icon-home:before {
  color: #000080;
}

.disabled,
.disabled .icon-home:before {
  pointer-events: none;
  color: #aaa;
  text-shadow: 1px 1px white;
}

/* Modal styles */

.overlay {
  background-color: rgb(0, 0, 0, 0.5);
}

/** IcoMoon generated font styles **/
@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?lasjjy');
  src:  url('/_static/fonts/icomoon.eot?lasjjy#iefix') format('embedded-opentype'),
    url('/_static/fonts/icomoon.ttf?lasjjy') format('truetype'),
    url('/_static/fonts/icomoon.woff?lasjjy') format('woff'),
    url('/_static/fonts/icomoon.svg?lasjjy#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
  content: "\e900";
}
.icon-pencil:before {
  content: "\e901";
}
.icon-image:before {
  content: "\e902";
}
.icon-images:before {
  content: "\e903";
}
.icon-play:before {
  content: "\e904";
}
.icon-alarm:before {
  content: "\e905";
}
.icon-calendar:before {
  content: "\e906";
}
.icon-bin2:before {
  content: "\e907";
}
.icon-menu:before {
  content: "\e908";
}
.icon-cloud:before {
  content: "\e909";
}
.icon-cloud-download:before {
  content: "\e90a";
}
.icon-cloud-upload:before {
  content: "\e90b";
}
.icon-cloud-check:before {
  content: "\e90c";
}
.icon-download2:before {
  content: "\e90d";
}
.icon-upload2:before {
  content: "\e90e";
}
.icon-link:before {
  content: "\e90f";
}
.icon-attachment:before {
  content: "\e910";
}
.icon-star-empty:before {
  content: "\e911";
}
.icon-star-half:before {
  content: "\e912";
}
.icon-star-full:before {
  content: "\e913";
}
.icon-warning:before {
  content: "\e914";
}
.icon-notification:before {
  content: "\e915";
}
.icon-question:before {
  content: "\e916";
}
.icon-plus:before {
  content: "\e917";
}
.icon-minus:before {
  content: "\e918";
}
.icon-info:before {
  content: "\e919";
}
.icon-cancel-circle:before {
  content: "\e91a";
}
.icon-cross:before {
  content: "\e91b";
}
.icon-checkmark:before {
  content: "\e91c";
}
.icon-checkmark2:before {
  content: "\e91d";
}
.icon-mail4:before {
  content: "\e91e";
}
.icon-github:before {
  content: "\e91f";
}
.icon-linkedin:before {
  content: "\e920";
}
.icon-briefcase:before {
  content: "\e9ae";
}
