node_modules

/server/index.js
/server/index.js.map
/server/metafile.js.json
/server/metafile.server.json
/public/build
preferences.arc
sam.json
sam.yaml
.env

/cypress/screenshots
/cypress/videos

/app/styles/tailwind.css
